@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.personal-info {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $marine-blue;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 4px;

    @include media-desktop {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }
  }

  &__input {
    font-family: "Ubuntu-Medium";
    font-size: 1.5rem;
    color: $marine-blue;
    height: 40px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    margin-bottom: 16px;
    padding: 0 16px;

    @include media-desktop {
      height: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:focus {
      outline: none;
      border-color: $purplish-blue;
    }
  }
}
