@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 56px;
    margin-top: 48px;
    margin-bottom: 24px;

    @include media-desktop {
      width: 80px;
      margin-bottom: 32px;
    }
  }

  &__heading {
    font-family: "Ubuntu-Bold";
    font-size: 2.4rem;
    color: $marine-blue;
    margin-bottom: 8px;

    @include media-desktop {
      font-size: 3.2rem;
      margin-bottom: 14px;
    }
  }

  &__text {
    text-align: center;
    color: $cool-gray;
    line-height: 1.5;
  }
}
