@use "../../partials//mixins" as *;

.wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  margin-top: -72px;
  padding: 32px 24px;
  box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.0951);
  margin-bottom: 100px;

  @include media-desktop {
    display: flex;
    width: 940px;
    height: 600px;
    border-radius: 15px;
    margin: auto;
    padding: 16px;
  }

  &__main {
    @include media-desktop {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 56px 100px;
    }
  }
}
