@use "./variables" as *;
@use "./mixins" as *;

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../../src/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../../src/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../../src/assets/fonts/Ubuntu-Bold.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu-Regular";
  font-size: 1.6rem;
  background-color: $magnolia;
  height: 100vh;
}
