@use "./partials//mixins" as *;

.app {
  &__navbar {
    &--mobile {
      @include media-desktop {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include media-desktop {
        display: block;
      }
    }
  }
}

.main {
  padding: 0 16px;

  @include media-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}
