@use "./partials//mixins" as *;

.app {
  &__navbar {
    &--mobile {
      @include media-desktop {
        display: none;
      }
    }
    &--desktop {
      display: none;
      @include media-desktop {
        display: block;
      }
    }
  }
}

.main {
  @include media-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    height: 100vh;
  }
}
